
# umbrella sampling data files
US/02_analysis/01_area/*xst
US/02_analysis/01_area/*dat
US/02_analysis/02_overlap/*png
US/02_analysis/03_wham/WHAM*
US/02_analysis/04_mbar/redirect
US/02_analysis/03_wham/archive/**

# abf scripts not written by me
abfCheckRunsError.tcl
abfConvergence.tcl

